block init
	//- 基本情報
	- var title = "[title]";
	- var description = "[description]";
	- var keywords = "";

	//- OGP情報
	- var siteUrl = "https://example.com";
	- var ogTitle = title;
	- var ogDescription = description;
	- var ogType = "website";
	- var ogImgPath = siteUrl + "/assets/images/og.png";
	- var touchIcon = siteUrl + "/assets/images/apple-touch-icon.png";
	- var faviconPath = "/assets/images/favicon";
	- var twitterAccount = "";
	- var twitterCard = "summary_large_image";

	//- ファイルパス
	- var dir = "./";
	- var imgPath = dir + "assets/images/";
	- var jsPath = dir + "assets/js/";
	- var cssPath = dir + "assets/css/";

doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width,user-scalable=no")
		//- 基本情報
		title #{title}
		meta(name='description', content=`${description}`)
		meta(name='keywords', content=`${keywords}`)
		//- link(rel="icon", href=`${faviconPath}.ico`)
		//- link(rel="icon", type="image/png", href=`${faviconPath}.png`)
		//- link(rel="apple-touch-icon" href=`${touchIcon}`)

		//- OG情報
		//- meta(property="og:type", content=`${ogType}`)
		//- meta(property="og:site_name", content=`${title}`)
		//- meta(property="og:url", content=`${siteUrl}`)
		//- meta(property="og:image", content=`${ogImgPath}`)
		//- meta(property="og:title", content=`${ogTitle}`)
		//- meta(property="og:description", content=`${ogDescription}`)

		//- OG情報: Twitter
		//- meta(name="twitter:card", content=`${twitterCard}`)
		//- meta(name="twitter:site", content=`${siteUrl}`)
		//- meta(name="twitter:creator", content=`${twitterAccount}`)
		//- meta(name="twitter:title", content=`${title}`)
		//- meta(name="twitter:description", content=`${ogDescription}`)
		//- meta(name="twitter:image", content=`${ogImgPath}`)

		
		//- 
		//- 個別ページ:meta
		//- 
		block meta

		link(rel='stylesheet', href=`${cssPath}app.bundle.css`, type='text/css', media='all')
		
		//- 
		//- 個別ページ:css
		//- 
		block css
		
	body(ontouchstart="")
		block contents
			
		//- 
		//- スクリプト
		//- 
		//- script(type='text/javascript', src=`${jsPath}plugin.js`)
		script(type='text/javascript', src=`${jsPath}app.bundle.js`)
		
		//- 
		//- 個別ページ: script
		//- 
		block script
			
