block init
	//- 基本情報
	- var title = "[title]";
	- var description = "[description]";
	- var keywords = "";

	//- OGP情報
	- var site_url = "https://example.com";
	- var og_title = title;
	- var og_description = description;
	- var og_type = "website";
	- var og_imgPath = site_url + "/assets/images/og.png";
	- var touch_icon = site_url + "/assets/images/apple-touch-icon.png";
	- var favicon_path = "/assets/images/favicon";
	- var twitter_account = "";
	- var twitter_card = "summary_large_image";

	//- ファイルパス
	- var dir = "/order/";
	- var imgPath = dir + "assets/images/";
	- var jsPath = dir + "assets/js/";
	- var cssPath = dir + "assets/css/";

doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width,user-scalable=no")
		//- 基本情報
		title #{title}
		meta(name='description', content=`${description}`)
		meta(name='keywords', content=`${keywords}`)
		//- link(rel="icon", href=`${favicon_path}.ico`)
		//- link(rel="icon", type="image/png", href=`${favicon_path}.png`)
		//- link(rel="apple-touch-icon" href=`${touch_icon}`)

		//- OG情報
		//- meta(property="og:type", content=`${og_type}`)
		//- meta(property="og:site_name", content=`${title}`)
		//- meta(property="og:url", content=`${site_url}`)
		//- meta(property="og:image", content=`${og_imgPath}`)
		//- meta(property="og:title", content=`${og_title}`)
		//- meta(property="og:description", content=`${og_description}`)

		//- OG情報: Twitter
		//- meta(name="twitter:card", content=`${twitter_card}`)
		//- meta(name="twitter:site", content=`${site_url}`)
		//- meta(name="twitter:creator", content=`${twitter_account}`)
		//- meta(name="twitter:title", content=`${title}`)
		//- meta(name="twitter:description", content=`${og_description}`)
		//- meta(name="twitter:image", content=`${og_imgPath}`)

		
		//- 
		//- 個別ページ:meta
		//- 
		block meta

		link(rel='stylesheet', href=`${cssPath}app.css`, type='text/css', media='all')
		
		//- 
		//- 個別ページ:css
		//- 
		block css
		
	body(ontouchstart="")
		block contents
			
		//- 
		//- スクリプト
		//- 
		//- script(type='text/javascript', src=`${jsPath}plugin.js`)
		script(type='text/javascript', src=`${jsPath}app.js`)
		
		//- 
		//- 個別ページ: script
		//- 
		block script
			
